@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    --azul-claro: #7ac4f5;
    --branco: #fff;
    --azul-escuro: #2a36a0;
    --cinza: #8f8a8a;
    --font: 'Caveat', serif;
}
body{
    background-color: var(--branco);
    color: var(--azul-escuro);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}


header{
    background-color: var(--azul-claro);
    text-align: center;
    padding: 1px;
}

h1{
    font-size: 2rem;
    color: var(--azul-escuro);
    font-weight: 700;
    font-family: var(--font);
}

nav{
    display:flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: var(--azul-escuro);
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
    transform: scale(0,90);
    transition: transform(0.1s);
}